<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000303265308-lt6lhe7akf2p5atkq8hbcl5n2hr2eads.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000303265308-lt6lhe7akf2p5atkq8hbcl5n2hr2eads</string>
	<key>API_KEY</key>
	<string>AIzaSyAvlAZbB2uOFbrn8v1IeXwvgP-fGZHBz9U</string>
	<key>GCM_SENDER_ID</key>
	<string>1000303265308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ninnnnn.CAtFE</string>
	<key>PROJECT_ID</key>
	<string>catfe-34bfc</string>
	<key>STORAGE_BUCKET</key>
	<string>catfe-34bfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000303265308:ios:827995dc9b3154f925c1d9</string>
	<key>DATABASE_URL</key>
	<string>https://catfe-34bfc.firebaseio.com</string>
</dict>
</plist>